
body{
  background-color:#ffdb58;
  text-align: center;
}

ul{
  text-align: center;
  list-style-position: inside;
  font-size:20px;
  margin-bottom:30px;
}

li{
  margin-bottom:15px;
}

#burger_pic{
  width:220px;
  height:auto;
  margin-top:15px;
  margin-bottom:15px;
}

.form-group{
  font-size:20px;
}

h2{
  margin-bottom:30px;
}

h1{
  margin-bottom:30px;
}

